* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  background: #fee;
}

.logo {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}

.navigation,
.top-bar {
  width: 375px;
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  justify-content: space-between;
  background-color: #3e3c3c;
  height: 5rem;
}

.main {
  background-image: url(/images/Illustration-mobile.png);
  background-repeat: no-repeat;
  background-position-y: 10rem;
  background-position-x: 14.3rem;
  color: #fff;
  display: grid;
  flex-direction: column;
  text-align: left;
  padding: 120px 24px 50px;
  gap: 12px;
  width: 100%;
  background-color: #1c1a19;
}

.para1 {
  width: 327px;
  height: 130px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 53px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.para2 {
  color: #fff5e1;
  width: 327px;
  height: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 3rem;
  display: flex;
}

.para3 {
  max-width: 80%;
  margin-top: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5rem;
}

.icon {
  height: 13px;
  width: 13px;
  display: flex;
  gap: 4px;
  margin-left: 0.35rem;
}

.main2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.main2h {
  display: flex;
  flex-direction: column;
  height: 107.00003051757812px;
  color: #1c1a19;
  margin-top: 8rem;
  font-family: 'Crete Round', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  width: 327px;
}

hr{
  border-top: 1px solid #bbb;
  border-radius: 3px;
  width: 19rem;
  margin-left: 0.5rem;
}

.img-place {
  height: 237px;
  width: 327px;
  left: 24px;
  margin-top: 5rem;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 327px;
  height: 307px;
}

.story2 {
  height: 36px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.sec2p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #091e42;
}

.sec2ul,
li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 297px;
  height: 40px;
  text-decoration: none;
}

.sec2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 92px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20;
}

.b-t-n {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  height: 48px;
  width: 124px;
  top: 259px;
  border: none;
  gap: 10px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.b-t-n:hover {
  color: #fff;
}

.section3 {
  height: 386px;
  width: 327px;
  left: 24px;
  top: 350px;
  background-image: url(./images/bg-Mask-Group.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sec3h {
  padding: 5.5rem 1rem;
  height: 81px;
  width: 295px;
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  color: #fff;
}

.sec3p {
  padding: 0.5rem 1rem;
  height: 87px;
  width: 295px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.sec3ul {
  display: flex;
  flex-direction: row;
  width: 97px;
  padding-left: 1rem;
  margin-top: 2rem;
  gap: 1rem;
}

.sec3li {
  height: 40px;
  gap: 12px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.see {
  border: none;
  margin-top: 2rem;
  margin-bottom: 10rem;
  height: 48px;
  width: 327px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.see:hover {
   color: #fff5e1;
}

.about-me {
  margin-top: 10rem;
  height: 1901px;
  width: 375px;
  top: 4137px;
  background: #1c1a19;
  background-image: url(/images/Frame_bg-about.png);
  background-position-y: 25rem;
  background-position-x: 13.8rem;
  background-repeat: no-repeat;
}

.about {
  margin-top: 10rem;
  height: 79px;
  width: 327px;
  left: 24px;
  font-family: 'Crete Round', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  color: #ff6b00;
  padding-left: 1rem;
}

.things {
  padding-top: 1rem;
  padding-left: 1rem;
  height: 148px;
  width: 327px;
  left: 24px;
  top: 223px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f4f5f7;
}

.btn5 {
  margin-left: 1rem;
  margin-top: 2rem;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  font-family: 'Inter' sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  background: #ff6b00;
  border: 0;
}

.btn5:hover {
  color: bisque;
}

.hr2 {
  margin-top: 13rem;
  Width: 327px;
  margin-left: 1.5rem;
}

.lang {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  width: 329px;
  height: 1241.46px;
  left: calc(50% - 329px/2);
  top: 4797px;
}

.lag {
  height: 24px;
  width: 164px;
  left: 49.4560546875px;
  top: 8.7279052734375px;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #fff;
}

.language {
  color: #fff;
}